/* tlc-report-viewer.css */

/* Set the minimum width for the body */
body.tlc-report-viewer {
  min-width: 600px;
}

/* Set the minimum width for the table */
table.tlc-report-viewer {
  min-width: 600px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}

/* Add borders to table cells */
td.tlc-report-viewer {
  border: 1px solid black;
}

/* Style for table headers */
th.tlc-report-viewer {
  background-color: #876338;
  color: white;
  border: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
  white-space: nowrap;
}

/* Table rows have alternating background colors */
tr.tlc-report-viewer:nth-child(even) {
  background-color: #d1a054;
}

tr.tlc-report-viewer:nth-child(odd) {
  background-color: #ffffff;
}

/* Ensure the table container scrolls */
.tlc-table-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

/* Style for the download button */
.download-button {
  margin-bottom: 10px;
}

/* Add padding to table cells */
td.tlc-report-viewer,
th.tlc-report-viewer {
  padding: 8px;
  text-align: left;
}

/* Style the container div */
.tlc-container {
  padding: 10px;
}
